<div class="card-container">
    <mat-card class="card-content">
        <h3>Astronomy Picture of the Day</h3>
        <mat-card-header>
            <img mat-card-avatar src="https://upload.wikimedia.org/wikipedia/commons/2/25/Nasa-logo.gif" alt="">
            <mat-card-title>
                {{appod.title}}
            </mat-card-title>
            <mat-card-subtitle>{{appod.date}}</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image [src]="appod.url" alt="">

        <mat-card-content>
            <p>
                {{appod.explanation}}
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button>Like</button>
            <button mat-button>Share</button>
        </mat-card-actions>

    </mat-card>
</div>