<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>Botones</mat-panel-title>
    </mat-expansion-panel-header>

    <ih-material-button></ih-material-button>

</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>Campos de Texto (Input)</mat-panel-title>
    </mat-expansion-panel-header>

    <ih-material-input></ih-material-input>

</mat-expansion-panel>

<mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>Listas</mat-panel-title>
        </mat-expansion-panel-header>
    
        <ih-material-list></ih-material-list>
    
    </mat-expansion-panel>